@charset 'utf-8';
/* CSS Document */

/* BAR grid system */
	.bar {
	    position: relative;
	    background: rgba(255, 255, 255, 0.8);
	    border: solid 1px rgba(0, 0, 0, 0.8);
	    border-radius: 5px;
	    font-family: Verdana, Geneva, sans-serif;
	    font-size: 12px;
	    box-shadow: inset 1px 1px 1px #FFF, inset -1px -1px 1px rgba(0, 0, 0, 0.3), 3px 3px 6px rgba(0, 0, 0, 0.3);
	}

	.One {
	    float: left;
	    width: 98%;
	    margin: 10px 0.5%;
	}

	.Two {
	    float: left;
	    width: 48%;
	    margin: 10px 0.75%;
	}

	.barHeader {
		height: 30px;
		border: solid thin rgba(0, 0, 0, 0.3);
		margin: 8px;
		margin-bottom: 0;
		padding: 5px 15px;
		line-height: 30px;
		font-size: 14px;
		color: #333;
		text-shadow: 1px 1px 0 #FFF;
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #c5c5c5 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#c5c5c5)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#c5c5c5 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 0%,#c5c5c5 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 0%,#c5c5c5 100%); /* IE10+ */
		background: linear-gradient(top,  #ffffff 0%,#c5c5c5 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c5c5c5',GradientType=0 ); /* IE6-9 */
		cursor: pointer;
	}

	.minState {
		position: relative;
		float: right;	
		font-size: 16px;
	}

	.barContents {
	  margin: 8px;
	  margin-top: 0;
	  background: #69A;
	  border-bottom-left-radius: 3px;
	  border-bottom-right-radius: 3px;
	  color: #FFF;
	  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
		overflow: hidden;
	}

	.barContents table {
		width: 100%;
	    padding: 10px;
	}

	.Two .barContents table td, .Two .barContents table th {
		padding: 10px 5px;
		line-height: 1.3em;
		cursor: pointer;
	}

	.Two .barContents table th  {
		font-weight: bold;
	}

	.Two .barContents table tr:nth-child(even) td {
		background: rgba(255, 255, 255, 0.1);
	}

	.barContents table tr:hover {
		background: rgba(255, 255, 255, 0.2);
	}

	.Two .barContents table tr td:last-child {
		text-align: right;
		max-width: 140px;
		min-width: 95px;
	}

	.Two .barContents table tr td:first-child {
		text-align: left;
		text-overflow: ellipsis; 
		-o-text-overflow: ellipsis; 
		-icab-text-overflow: ellipsis; 
		-khtml-text-overflow: ellipsis; 
		-moz-text-overflow: ellipsis; 
		-webkit-text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 260px;
		min-width: 250px;
		overflow: hidden;
	}

	.One .barContents table tr th {
		height: 20px;
		padding: 5px;
		line-height: 20px;
		cursor: pointer;
		font-weight: bold;
	}

	.One .barContents table tr td {
		text-align: right;
		height: 20px;
		padding: 5px;
		line-height: 20px;
	}

	.One .barContents table tr:nth-child(even) td {
		background: rgba(255, 255, 255, 0.1);
	}

	.One .barContents table tr {
		height: 20px;
		padding: 5px;
	}

	.One .barContents table tr td:first-child {
		text-align: left;
		text-overflow: ellipsis; 
		-o-text-overflow: ellipsis; 
		-icab-text-overflow: ellipsis; 
		-khtml-text-overflow: ellipsis; 
		-moz-text-overflow: ellipsis; 
		-webkit-text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		max-width: 400px;
		height: 20px;
		line-height: 30px;
		padding-left: 5px;
	}

	.One .barContents table tr td:last-child {
		text-align: center;
		max-width: 130px;
		min-width: 95px;
	}